header {
  display: flex;
  background-color: rgba(0, 0, 0);
  justify-content: space-between; /* a와 nav를 양 끝으로 배치 */
  align-items: center; /* 세로 가운데 정렬 */
  padding: 20px 20px;
  position: sticky; /* 스크롤 할때 고정 */
  top: 0; /* 상단에 고정 */
  z-index: 1000; /* 다른 요소보다 상위에 있도록 설정 */

  .block-left,
  .block-right {
    flex: 0.5; /* 양 끝 블록이 동일한 비율로 공간을 차지 */
  }

  .block-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2; /* 가운데 블록이 더 많은 공간을 차지 */
  }

  a img {
    width: 150px;
    height: auto;
  }
  nav {
    ul {
      display: flex; /* li들을 가로로 나란히 배치 */
      list-style: none; /* 기본 리스트 스타일 제거 */
      margin: 0;
      padding: 0;

      li {
        margin-left: 40px; /* 각 li 요소 사이에 간격 추가 */

        a {
          text-decoration: none;
          font-size: 24px;
          font-weight: bold;
          color: white;

          &:hover {
            color: $imaes-color; /* 호버 시 색상 변경 */
          }
        }
      }
    }
  }
}
