extends base
block content
    main.forecast
        .forecast__header.forecast-content
            h2 전력예측 솔루션
            h3.sub__header 
                | 전력예측과 관련한 설명을 쓰면 좋지 않을까 생각합니다. 
                br
                | 기온효과, 특수일 효과 등등을 간략하게 넣으면 좋지않을까요?
        include partials/energy

block scripts
    script(type="module" src="/client/js/views/energy.js")