extends base
block content
    main.energy
        .forecast__header.forecast-main
            h2 예측 솔루션
        .products
            .products__image
                img(src="../../../images/imaes-electricity.jpg" alt="electricity")
            .products__text
                p.products__title 전력예측 솔루션
                p.products__content 
                    | 무슨 내용이 들어가야할지
                    br
                    | 같이
                    br
                    | 고민해주세요
                .btn
                    a(href="/energy/elec/e1") 자세히 보기
        .products
            .products__text
                p.products__title 가스예측 솔루션
                p.products__content
                    | 무슨 내용이 들어가야할지
                    br
                    | 같이
                    br
                    | 고민해주세요
                .btn
                    a(href="/energy/gas/g1") 자세히 보기
            .products__image
                img(src="../../../images/imaes-electricity.jpg" alt="electricity")
        .products
            .products__image
                img(src="../../../images/imaes-electricity.jpg" alt="electricity")
            .products__text
                p.products__title 유가예측 솔루션
                p.products__content 
                    | 무슨 내용이 들어가야할지
                    br
                    | 같이
                    br
                    | 고민해주세요
                .btn
                    a(href="/energy/commodity/c1") 자세히 보기

    // 향후에 솔루션이 추가되면 .products tag와 똑같은 내용이 추가될 수 있습니다.



