header
    .block-left
    .block-center
        a(href="/").header__logo
            img(src="/images/imaes-logo.png" alt="iMAES")
        nav
            ul.header__menu
                li
                    a(href="/company") About us
                li
                    a(href="/energy") Forecast
                li
                    a(href="/contact") Contact
    .block-right
